.board {
	height: 500px;
	width: 500px;
	margin: 3em;
	position: relative;
}

.mark {
	border-radius: 100px;
	border: 5px solid white;
	box-sizing: border-box;
	z-index: 20;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	  -moz-user-select: none;     /* Firefox all */
	  -ms-user-select: none;      /* IE 10+ */
	  user-select: none;          /* Likely future */ 
	text-decoration: none;
}

a.square {
	outline: none;
}

.potentialmark {
	opacity: 0.2;
}

.square {
	position: absolute;
	-webkit-transition: top 0.5s, left 0.5s;
	-moz-transition: top 0.5s, left 0.5s;
	transition: top 0.5s, left 0.5s;
}

.square > div {
	width: 100%;
	height: 100%;
}


.marks {
	z-index: 19;
}

.terrain, .pieces, .marks, .controls {
	position: absolute;
}

.square > .piece {
	height: 80%;
	width: 80%;
	margin-top: 10%;
	margin-left: 10%;
	border-radius: 100px;
	display: -webkit-flexbox;
	display: -webkit-flex;
	display: -ms-flexbox;
	-ms-flex-pack: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	
	-webkit-user-select: none;  /* Chrome all / Safari all */
	  -moz-user-select: none;     /* Firefox all */
	  -ms-user-select: none;      /* IE 10+ */
	  user-select: none;          /* Likely future */ 
}

.projectiles * {
	display: none;
}

.projectiles:after {
	content: " ";
	height: 10px;
	width: 10px;
	border-radius: 100px;
	display: inline-block;
	margin-top: 17px;
}

.piece.owner0, .projectiles.owner0:after { color: grey; background-color: darkgrey; }
.piece.owner1, .projectiles.owner1:after { color: red; background-color: darkred; }
.piece.owner2, .projectiles.owner2:after { color: blue; background-color: darkblue; }

.projectiles.owner1, .projectiles.owner2 {
	background-color: transparent;
}


.pieces {
	z-index: 3;
}

.terrain, .pieces, .marks {
	height: 100%;
	width: 100%;
}

.wood {
	background-color: #996633;
}

.grass {
	background-color: #008040;
}

.castle {
	background-color: #7F7F7F;
}

.dark {
	z-index: 2;
	background-color: rgba(0,0,0,0.1);
}

.dir2 { transform: rotate(45deg) }
.dir3 { transform: rotate(90deg) }
.dir4 { transform: rotate(135deg) }
.dir5 { transform: rotate(180deg) }
.dir6 { transform: rotate(225deg) }
.dir7 { transform: rotate(270deg) }
.dir8 { transform: rotate(315deg) }





.pieces-enter {
  opacity: 0.01;
}

.pieces-enter.pieces-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.pieces-leave {
  opacity: 1;
}

.pieces-leave.pieces-leave-active {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.status {
	height: 30px;
}