.wrapper {
	height: 500px;
	width: 500px;
	margin: 3em;
	border: 1px solid black;
	position: relative;
}

.tile, .piece, .terrain, .pieces {
	position: absolute;
}

.pieces {
	z-index: 3;
}

.terrain, .board, .pieces {
	height: 100%;
	width: 100%;
}

.wood {
	background-color: #996633;
}

.grass {
	background-color: #008040;
}


.dark {
	z-index: 2;
	background-color: rgba(0,0,0,0.1);
}