ul.nav {
	list-style-type: none;
}

ul.nav li {
	display: inline-block;
	margin-right: 1em;
}

ul.nav a.active {
	font-weight: bold;
	background-color: lightgoldenrodyellow;
}

input, textarea, button, select, a {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
}

.board {
	position: relative;
}

.mark {
	border-radius: 100px;
	border: 5px solid white;
	box-sizing: border-box;
	z-index: 20;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	  -moz-user-select: none;     /* Firefox all */
	  -ms-user-select: none;      /* IE 10+ */
	  user-select: none;          /* Likely future */ 
	text-decoration: none;
}

a.square, .square a {
	outline: none;
	text-decoration: none;
}

.potentialmark {
	opacity: 0.2;
}

.square {
	position: absolute;
	-webkit-transition: bottom 0.5s, left 0.5s;
	-moz-transition: bottom 0.5s, left 0.5s;
	transition: bottom 0.5s, left 0.5s;
}

.square > div, .square > a {
	width: 100%;
	height: 100%;
	display: block;
}


.marks {
	z-index: 19;
}

.terrain, .pieces, .marks {
	position: absolute;
}

.controls, .history {
	width: 100px;
	padding: 1em;
	float: left;
}

.controls button {
	display: block;
	width: 80px;
	margin: 3px;
}

.square > .piece {
	height: 80%;
	width: 80%;
	margin-top: 10%;
	margin-left: 10%;
	border-radius: 100px;
	display: -webkit-flexbox;
	display: -webkit-flex;
	display: -ms-flexbox;
	-ms-flex-pack: center;
	display: flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	
	-webkit-user-select: none;  /* Chrome all / Safari all */
	  -moz-user-select: none;     /* Firefox all */
	  -ms-user-select: none;      /* IE 10+ */
	  user-select: none;          /* Likely future */ 
}

.projectiles * {
	display: none;
}

.projectiles:after {
	content: " ";
	height: 10px;
	width: 10px;
	border-radius: 100px;
	display: inline-block;
	margin-top: 17px;
}

.projectiles.owner0:after { color: gold; background-color: darkgoldenrod; }
.projectiles.owner1:after { color: red; background-color: darkred; }
.projectiles.owner2:after { color: blue; background-color: darkblue; }

.piece.owner0, .historyplr0 > a { color: gold; }
.piece.owner1, .historyplr1 > a { color: red; }
.piece.owner2, .historyplr2 > a { color: blue; }
.piece.owner0 .background { color: darkgoldenrod; }
.piece.owner1 .background  { color: darkred; }
.piece.owner2 .background  { color: darkblue; }

.history {
	list-style-type: none;
}

.currententry {
	font-weight: bold;
	text-decoration: underline;
}

.background {
	position: absolute;
}

.piece > * {
	width: 100%;
	height: 100%;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	line-height: 100%;
}

.projectiles.owner1, .projectiles.owner2 {
	background-color: transparent;
}


.pieces {
	z-index: 3;
}

.terrain, .pieces, .marks {
	height: 100%;
	width: 100%;
}

.wood {
	background-color: #996633;
}

.grass {
	background-color: #008040;
}

.castle {
	background-color: #7F7F7F;
}

.water {
	background-color: #66CCFF;
}

.dark {
	z-index: 2;
	background-color: rgba(0,0,0,0.07);
}

.dir2 { transform: rotate(45deg) ; -webkit-transform: rotate(45deg); }
.dir3 { transform: rotate(90deg) ; -webkit-transform: rotate(90deg);}
.dir4 { transform: rotate(135deg); -webkit-transform: rotate(135deg);}
.dir5 { transform: rotate(180deg); -webkit-transform: rotate(180deg);}
.dir6 { transform: rotate(225deg); -webkit-transform: rotate(225deg);}
.dir7 { transform: rotate(270deg); -webkit-transform: rotate(270deg);}
.dir8 { transform: rotate(315deg); -webkit-transform: rotate(315deg);}


.controls button.commandundo {
	margin-top: 2em;
}


.pieces-enter {
  opacity: 0.01;
}

.pieces-enter.pieces-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.pieces-leave {
  opacity: 1;
}

.pieces-leave.pieces-leave-active {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.status {
	height: 30px;
}

button:disabled {
    text-decoration: line-through;
    color: #aaa;
}